:root {
  --main-text-color: #2e2520;
  --button-color: #ab816c;
  --secondary-color: #000000;
  --main-bg-color: #fef3e4;
  --primary-accent-color: #876655;
  --secondary-accent-color: #674d40;
  --registration-bg-color: #ffffff;
}
