<footer class="footer">
  <div class="container">
    <ul class="social-list list">
        <li class="social-list-item">
          <a class="header-social-link link" href="#">
            <svg class="twitter-icon">
              <use href="./images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a class="header-social-link link" href="#">
            <svg class="instagram-icon">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a class="header-social-link link" href="#">
            <svg class="facebook-icon">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    <address class="footer-address">
      <a href="callto:9102228855" class="footer-address-phone">
        <svg class="footer-address-phone-icon icon" width="13" height="13">
          <use href="./images/sprite.svg#phone"></use>
        </svg>
        (910)222-8855
      </a>
      <a href="" class="footer-address-location">
        <svg class="footer-address-location-icon icon" width="11" height="15">
          <use href="./images/sprite.svg#location"></use>
        </svg>
        New York
      </a>
  </div>
</footer>
