<header class="header wow bounce" data-wow-delay="800ms">
  <div class="container">
    <nav class="header-top">
      <a class="header-logo" href="./">
        <svg class="header-icon">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="header-nav list">
        <li class="header-nav-list">
          <a class="header-nav-link link smooth" href="#about-us">About us</a>
        </li>
        <li class="header-nav-list">
          <a class="header-nav-link link smooth" href="#program">Program</a>
        </li>
        <li class="header-nav-list">
          <a class="header-nav-link link smooth" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-list">
          <a class="header-nav-link link smooth" href="#contact">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-bottom">
      <h1 class="header-title">Donut Masterclass with the Donut King</h1>
      <h2 class="header-subtitle">Hosted by Eva Green</h2>
      <a class="header-register-btn link smooth hinge" href="#register">Register</a>
      <ul class="social-list list">
        <li class="social-list-item">
          <a class="header-social-link link" href="#">
            <svg class="twitter-icon">
              <use href="./images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a class="header-social-link link" href="#">
            <svg class="instagram-icon">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a class="header-social-link link" href="#">
            <svg class="facebook-icon">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <button
    class="hamburger hamburger--spin mobile-btn menu-toggle js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <!-- <button
    class="mobile-btn menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="open-menu-icon" width="30" height="16">
      <use href="./images/sprite.svg#menu"></use>
    </svg>
  </button> -->
</header>
