<section class="program wow slideInUp" data-wow-duration="1.5s" id="program">
  <div class="container program-container">
    <div class="program-left-side">
      <h2 class="title program-title">Program</h2>
      <p class="program-text-big">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>
      <p class="program-text">&gt; A stand up history of donuts</p>
      <p class="program-text">&gt; Make 3 donut flavors of your choice</p>
      <p class="program-text">&gt; Enjoy all-you-can-eat donuts</p>
      <p class="program-text">&gt; Cocktail pairings and coffee included</p>
      <p class="program-text">&gt; Photoshoot by professional photographer</p>
      <p class="program-text">&gt; Secret receipt of cooking from Eva</p>
      <p class="program-text program-reset-margin">&gt; All products are included in the price</p>
      <div class="container_for_tab program-text-big">
        <div class="tab_content">
          Come with your dear people and friends and you will spend an unforgettable time and will
          become a real professional in donuts cooking!
        </div>
        <button type="button" class="read-more-btn">Read more</button>
      </div>
    </div>
    <div class="program-right-side">
      <ul class="program-event-list">
        <li class="program-event-ball">
          <picture>
            <source
              srcset="
                ./images/program/desktop/donut-1-desktop.webp    1x,
                ./images/program/desktop/donut-1-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/desktop/donut-1-desktop.png    1x,
                ./images/program/desktop/donut-1-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/tablet/donut-1-tablet.webp    1x,
                ./images/program/tablet/donut-1-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/tablet/donut-1-tablet.png    1x,
                ./images/program/tablet/donut-1-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/phone/donut-1-phone.webp    1x,
                ./images/program/phone/donut-1-phone@2x.webp 2x
              "
              type="image/png"
            />
            <img
              srcset="
                ./images/program/phone/donut-1-phone.png    1x,
                ./images/program/phone/donut-1-phone@2x.png 2x
              "
              src="#
           "
              alt="donut"
              class="program-event-img"
            />
          </picture>
          <h3 class="sup-title program-event-title">Type of the event</h3>
          <p class="program-event-text">Cooking classes</p>
          <svg class="program-event-svg" width="19px" height="18px">
            <use href="./images/sprite.svg#chef-hat"></use>
          </svg>
        </li>
        <li class="program-event-ball">
          <picture>
            <source
              srcset="
                ./images/program/desktop/donut-2-desktop.webp    1x,
                ./images/program/desktop/donut-2-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/desktop/donut-2-desktop.png    1x,
                ./images/program/desktop/donut-2-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/tablet/donut-2-tablet.webp    1x,
                ./images/program/tablet/donut-2-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/tablet/donut-2-tablet.png    1x,
                ./images/program/tablet/donut-2-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/phone/donut-2-phone.webp    1x,
                ./images/program/phone/donut-2-phone@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              srcset="
                ./images/program/phone/donut-2-phone.png    1x,
                ./images/program/phone/donut-2-phone@2x.png 2x
              "
              src="#
           "
              alt="donut"
              class="program-event-img program-event-img-pos1"
            />
          </picture>
          <h3 class="sup-title program-event-title">Number of guests</h3>
          <p class="program-event-text">1 to 20</p>
          <svg class="program-event-svg" width="20px" height="18px">
            <use href="./images/sprite.svg#people"></use>
          </svg>
        </li>
        <li class="program-event-ball">
          <picture>
            <source
              srcset="
                ./images/program/desktop/donut-3-desktop.webp    1x,
                ./images/program/desktop/donut-3-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/desktop/donut-3-desktop.png    1x,
                ./images/program/desktop/donut-3-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/tablet/donut-3-tablet.webp    1x,
                ./images/program/tablet/donut-3-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/tablet/donut-3-tablet.png    1x,
                ./images/program/tablet/donut-3-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/phone/donut-3-phone.webp    1x,
                ./images/program/phone/donut-3-phone@2x.webp 2x
              "
              type="image/png"
            />
            <img
              srcset="
                ./images/program/phone/donut-3-phone.png    1x,
                ./images/program/phone/donut-3-phone@2x.png 2x
              "
              src="#
          "
              alt="donut"
              class="program-event-img program-event-img-pos2"
            />
          </picture>
          <h3 class="sup-title program-event-title">Time of the event</h3>
          <p class="program-event-text">18:30 (2.5 hours)</p>
          <svg class="program-event-svg" width="20px" height="20px">
            <use href="./images/sprite.svg#clock"></use>
          </svg>
        </li>
        <li class="program-event-ball">
          <picture>
            <source
              srcset="
                ./images/program/desktop/donut-4-desktop.webp    1x,
                ./images/program/desktop/donut-4-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/desktop/donut-4-desktop.png    1x,
                ./images/program/desktop/donut-4-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/tablet/donut-4-tablet.webp    1x,
                ./images/program/tablet/donut-4-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/program/tablet/donut-4-tablet.png    1x,
                ./images/program/tablet/donut-4-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/program/phone/donut-4-phone.webp    1x,
                ./images/program/phone/donut-4-phone@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              srcset="
                ./images/program/phone/donut-4-phone.png    1x,
                ./images/program/phone/donut-4-phone@2x.png 2x
              "
              src="#"
              alt="donut"
              class="program-event-img program-event-img-pos1"
            />
          </picture>
          <h3 class="sup-title program-event-title">The host speaks</h3>
          <p class="program-event-text">English, French</p>
          <svg class="program-event-svg" width="25px" height="17px">
            <use href="./images/sprite.svg#chat"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
