.btn {
  font-family: 'Caveat Brush';
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
  background-color: var(--button-color);
  border: none;
  min-width: 145px;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn {
  font-size: 18px;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    min-width: 158px;
    height: 45px;
  }

  &:focus,
  &:hover {
    background-color: var(--primary-accent-color);
  }

  &:active {
    background-color: var(--secondary-accent-color);
  }
}

.read-more-btn {
  border: none;
  font-family: 'Caveat Brush';
  font-size: 18px;

  @include line-height(18px, 65px);

  cursor: pointer;
  background: none;
  color: var(--button-color);
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .read-more-btn {
    display: none;
  }
}

.read-more-btn:hover,
.read-more-btn:focus {
  color: var(--primary-accent-color);
}

.read-more-btn:active {
  color: var(--secondary-accent-color);
}

@media screen and (max-width:1199px) {
  
.hidden_block {
  display: none;
}
}

.visible_block {
  display: block;
}

.reg-form-submit {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .reg-form-submit {
    margin-left: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .reg-form-submit {
    margin-left: 38px;
  }
}


.contact-form-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
