.button {
  font-family: "Caveat Brush";
  font-weight: 400;
  border-radius: 25px;
  background-color: var(--main-bg-color);
}

.button {
  @include line-height(18px, 65px);

  @media screen and (min-width: 1200px) {
    @include line-height(24px, 65px);
  }
}

.read-more-btn {
  border: none;
  font-family: "Caveat Brush";
  font-weight: 400;
  font-size: 18px;
  line-height: 65px;
}

@media screen and (min-width: 1200px) {
  .read-more-btn {
    display: none;
  }
}