.form-input {
  width: 265px;
  margin-bottom: 25px;
  border-color: transparent;
  border-bottom: 1px solid var(--button-color);

  &:placeholder-shown {
    border-bottom: 1px solid var(--button-color);
  }

  &::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
}

.form-input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid red;
}

@media screen and (min-width:768px) {
  .reg-form {
    display: flex;
  }

  .form-input {
    width: 234px;
  }

  .form-input:last-child {
    margin-bottom: 0;
  }
}