.social-list {
  display: flex;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.social-list-item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-right: 9px;
    }
  }

  @media screen and (min-width: 1199px) {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &:hover {
    fill: var(--primary-accent-color);
  }
}

.twitter-icon {
  @media screen and(max-width: 1199px) {
    width: 19px;
    height: 15px;
  }

  @media screen and(min-width: 1200px) {
    width: 24px;
    height: 19px;
  }
}

.instagram-icon {
  @media screen and(max-width: 1199px) {
    width: 15px;
    height: 15px;
  }

  @media screen and(min-width: 1200px) {
    width: 19px;
    height: 19px;
  }
}

.facebook-icon {
  @media screen and(max-width: 1199px) {
    width: 8px;
    height: 15px;
  }

  @media screen and(min-width: 1200px) {
    width: 10px;
    height: 19px;
  }
}
