.about-title {
    color: var(--main-text-color);
}

.about-title {
    @include text-align(center);

    @media screen and (min-width: 768px) {
        @include text-align(start);
    }
}

.about-text {
    font-family: "Montserrat";
    color: var(--main-text-color); 
}

.about-text {
    @include line-height(16px, 19px);
  
    @media screen and (min-width: 1200px) {
      @include line-height(18px, 22px);
    }
}

.about-position {
    display: flex;
    flex-flow: column;
}

  
@media screen and (min-width: 768px) {
    .about-position {
    flex-flow: row;
    justify-content: space-between;
    }
}

.about-text-box {
    width: calc(100% / 2 - 15px);
}

@media screen and (min-width: 1200px) {
    .about-text-box {
        margin-bottom: 30px;
        align-items: flex-end;
    }
}

.about-img {
    width: calc(100% / 2 - 15px);
}