.about-text {
  color: var(--main-text-color);
  margin-top: 10px;

  @include line-height(16px, 19px);

  @media screen and (min-width: 1200px) {
    margin-top: 21px;
    @include line-height(18px, 22px);
  }
}

.about-text.first {
  margin-top: 0px;
}

.about-title {
  color: var(--main-text-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .about-position {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: -25px;
  }

  .about-position::before {
    content: "";
    position: absolute;
    width: 330px;
    height: 352px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-image: url(../images/background-images/set-tablet.png);
  }
}

.about-text-box {
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
    margin-left: 25px;
  }

  @media screen and (min-width: 1200px) {
    width: 392px;
  }
}
