.about {
  padding-top: 270px;

  @media screen and (min-width:768px) {
    padding-top: 80px;
  }

  @media screen and (min-width:1200px) {
    padding-top: 190px;
  }
}

.about-text {
  color: var(--main-text-color);
  margin-top: 10px;

  @include line-height(16px, 19px);

  @media screen and (min-width: 1200px) {
    margin-top: 21px;
    @include line-height(18px, 22px);
  }
}

.about-text.first {
  margin-top: 0px;
}

.about-title {
  color: var(--main-text-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.about-position {
  position: relative;
}

.about-position::before {
    content: "";
    position: absolute;
    width: 290px;
    height: 289px;
    top: -120px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/background-images/set-mobile.png);
    background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
    screen and (min-resolution: 192dpi) and (max-width:767px),
    screen and (min-resolution: 2dppx) and (max-width:767px) {
    .about-position::before {
    background-size: 290px 289px;
    background-image: url(../images/background-images/set-mobile@2x.png);
    background-repeat: no-repeat;
    }
  }
  
@media screen and (min-width: 768px) {
  .about-position {
    display: flex;
    justify-content: flex-end;
    margin-left: -25px;
  }

  .about-position::before {
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-size: 330px 352px;
    background-image: url(../images/background-images/set-tablet@2x.png);
    background-repeat: no-repeat;
    }

    width: 330px;
    height: 352px;
    top: 180px;
    left: 20%;
    transform: translate(-50%, -50%);
    background-image: url(../images/background-images/set-tablet.png);
    background-repeat: no-repeat;

    @media screen and (min-width:1200px) {
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-size: 512px 547px;
    background-image: url(../images/background-images/set-desktop@2x.png);
    background-repeat: no-repeat;
    }

    width: 512px;
    height: 547px;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-image: url(../images/background-images/set-desktop.png);
    background-repeat: no-repeat;
    }
  }
}

.about-text-box {
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
    margin-left: 25px;
  }

  @media screen and (min-width: 1200px) {
    width: 392px;
  }
}
