// .social-list {
//   display: flex;
//   // justify-content: center;
// }
.footer-address {
  display: flex;
  justify-content: space-between;
}
.footer-address {
  @include line-height(16px, 20px);
}
.footer .social-list {
  margin-right: auto;
  margin-left: auto;
}
//0-767
.footer-address {
  margin-top: 34px;
  padding-bottom: 19px;
}
//768+
@media screen and (min-width: 768px) {
  .footer-address {
    margin-top: 51px;
    padding-bottom: 21px;
  }
  .footer .social-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-top: 35px;
  }
}
