.header {
  position: relative;
}

.mobile-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  // margin-right: 15px;
  // margin-top: 15px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header-top {
  padding-top: 7px;
  padding-bottom: 7px;

  @media screen and (min-width: 768px) {
    padding-top: 27px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.header-bottom {
  // padding-top: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.header-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    // margin-top: 52px;
  }
}
.header-nav-list {
  font-size: 18px;
}
.header-nav-list:not(:last-child) {
  margin-right: 20px;
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    //   margin-top: 27px;
    //   margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    // margin-left: 68px;
    // margin-top: 31px;
    // margin-bottom: 57px;
    margin-right: 38px;
  }
}

.header-icon {
  width: 96px;
  height: 43px;

  @media screen and(min-width: 1200px) {
    width: 158px;
    height: 71px;
  }
}

.header-title {
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;

  font-family: Caveat Brush, curcive;
  font-weight: normal;
  font-size: 30px;
  @include line-height(30px, 38px);
  text-align: center;

  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    margin-left: 0;
    // margin-bottom: 3px;
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    max-width: 490px;
    max-height: 130px;
    font-family: Caveat Brush, curcive;
    font-weight: normal;
    // font-size: 64px;
    @include line-height(64px, 65px);

    margin-bottom: 15px;

    color: var(--main-text-color);
  }
}

.header-subtitle {
  // margin: 0px auto 37px;
  margin-bottom: 36px;
  font-weight: 500;
  @include line-height(16px, 20px);

  text-align: center;

  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    // margin-left: 68px;
    // margin-bottom: 26px;
    margin-left: 0;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 24px;
    @include line-height(24px, 29px);

    color: var(--main-text-color);
  }
}

.header-register-btn {
  display: block;
  width: 145px;
  height: 40px;
  // margin: 0px auto 45px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

  font-family: Caveat Brush;
  font-weight: normal;
  font-size: 18px;

  text-align: center;

  color: var(--registration-bg-color);

  background: var(--button-color);
  border-radius: 25px;
  border: none;

  @media screen and (min-width: 768px) {
    // margin-left: 68px;
    // margin-bottom: 31px;
    margin-left: 0;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;
  }
}
