@media screen and (max-width:797px) {
  .reg .container {
    background-color: var(--registration-bg-color);
  
    width: 290px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 34px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    flex-direction: column;
    @include flex;

    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
 }
}

.reg-text {
  width: 114px;

  margin-top: 11px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.reg-cost {
  position: relative;
}

.reg-cost::after {
  content: "";
  width: 265px;
  margin-top: 20px;
  display: block;
  border: 1px solid rgba(171, 129, 108, 0.5);
}

.reg-form-left-side {
  padding-bottom: 11px;
}

.reg-form-text {
  margin-bottom: 17px;
}