.reg .title {
  margin-bottom: 10px;
}

.reg-text {
  width: 114px;
  margin-bottom: 25px;
}

.reg-text,
.reg-cost {
  font-weight: 500;
  @include line-height(18px, 22px);
  text-align: right;
}

.reg-form-left-side::after {
  content: '';
  width: 190px;
  display: block;
  border: 1px solid rgba(171, 129, 108, 0.5);
}

.reg-form-left-side {
  margin-bottom: 11px;
}

.reg-form-text {
  margin-bottom: 17px;

  @include line-height(16px, 20px);
}

@media screen and (max-width: 767px) {
  .reg .container {
    background-color: var(--registration-bg-color);

    width: 290px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 34px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    flex-direction: column;
    @include flex;

    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }

  .reg-form-left-side {
    padding-bottom: 11px;
  }

  .reg-form-text {
    margin-bottom: 17px;
  }

  .reg-text,
  .reg-cost {
    font-weight: 500;
    @include line-height(18px, 22px);

    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reg-form-left-side::after {
    width: 265px;
    margin-top: 20px;
  }
}

.reg-container::before {
  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-size: 235px 255px;
      background-image: url(../images/background-images/eaten-donut-tablet@2x.png);
      background-repeat: no-repeat;
    }

    content: '';
    position: absolute;
    z-index: -5;

    width: 235px;
    height: 255px;

    top: 25%;
    left: 10%;
    transform: translate(-50%, -50%);

    background-image: url(../images/background-images/eaten-donut-tablet.png);
    background-repeat: no-repeat;
  }
}

.reg-container::after {
  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-size: 606px 589px;
      background-image: url(../images/background-images/confetti-tablet@2x.png);
      background-repeat: no-repeat;
    }

    content: '';
    position: absolute;
    z-index: -10;

    width: 606px;
    height: 589px;

    top: 80%;
    left: 96%;
    transform: translate(-50%, -50%);

    background-image: url(../images/background-images/confetti-tablet.png);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .reg-container {
    width: 638px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--registration-bg-color);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;

    padding-top: 54px;
    padding-bottom: 54px;

    @include flex;
    align-items: baseline;
    position: relative;
  }

  .reg-form-left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    text-align: right;
  }

  .reg-form-right-side {
    width: 234px;
    display: flex;
    flex-direction: column;
  }

  .reg-form-left-side::after {
    position: absolute;
    right: -110%;
    top: 90px;
    display: block;
    transform: rotate(90deg);
    border: 1px solid rgba(171, 129, 108, 0.5);
  }
}

@media screen and (min-width: 1200px) {
  .reg-container {
    width: 822px;
  }

  .reg-form-text {
    @include line-height(18px, 22px);
  }
}
